.text {
    &--size {
        &-md {
            font-size: size(16);
            @include media(lg) {
                font-size: size(24);
            }
        }
        &-lg {
            font-size: size(24);
            @include media(lg) {
                font-size: size(30);
            }
        }
    }

}