<section id="application" class="application">
  <div class="container">
    <div
      class="application-wrapper box-center m:align-right@md m:align-center@lg"
    >
      <img
        class="application-wrapper_img item m:hide m:show@md"
        src="images/application/girl.png"
        alt=""
      />
      <div class="form-block">
        <h2 class="form-block_title title--size-md">Отправьте заявку</h2>
        <p class="form-block_text">и мы свяжемся с вами</p>
        @@include("../custom/form.html",{})
      </div>
    </div>
  </div>
</section>
