<section id="deposit" class="deposit">
  <div class="container">
    <h2 class="deposit__title title title--size-md">Мы принимаем в залог</h2>
    <div class="deposit__wrapper">
      <img
        class="deposit__wrapper-img"
        src="images/deposit/home_cash.jpg"
        alt=""
      />
      <div class="deposit__wrapper-info">
        <div class="deposit__wrapper-content">
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/home_1.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Квартиры и комнаты</p>
          </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/app.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">
              Аппартаменты и таунхаусы
            </p>
          </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/home_2.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Дома и коттеджи</p>
          </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/mag.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Торговые объекты</p>
          </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/car.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Места в паркинге</p>
          </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/hotel.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Гостиницы  и хостелы
        </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/zemuchastky.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Земельные  участки
        </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/sklad.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Складские  помещения
        </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/office.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Офисные  помещения
        </div>
          <div class="deposit__wrapper-content_item">
            <img
              class="deposit__wrapper-content_item-img"
              src="images/deposit/prom.png"
              alt=""
            />
            <p class="deposit__wrapper-content_item-text">Пром. территории  и цеха
        </div>
      </div>
    </div>
  </div>
</section>
