<section id="deposit" class="deposit">
  <div class="container">
    <h2 class="deposit__title title title--size-md t:600">
      Мы принимаем в залог
    </h2>
    <div class="deposit__wrapper box-center">
      <div class="deposit__wrapper-info">
        <div class="deposit__wrapper-content box">
          <div class="deposit__wrapper-content_item home_1 box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Квартиры <br />
              и комнаты
            </p>
          </div>
          <div class="deposit__wrapper-content_item app box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Аппартаменты <br />
              и таунхаусы
            </p>
          </div>
          <div class="deposit__wrapper-content_item home_2 box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Дома <br />
              и коттеджи
            </p>
          </div>
          <div class="deposit__wrapper-content_item mag box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Торговые <br />
              объекты
            </p>
          </div>
          <div class="deposit__wrapper-content_item car box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Места <br />
              в паркинге
            </p>
          </div>
          <div class="deposit__wrapper-content_item hotel box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Гостиницы <br />
              и хостелы
            </p>
          </div>

          <div class="deposit__wrapper-content_item zem box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Земельные <br />
              участки
            </p>
          </div>

          <div class="deposit__wrapper-content_item sklad box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Складские <br />
              помещения
            </p>
          </div>

          <div class="deposit__wrapper-content_item office box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Офисные <br />
              помещения
            </p>
          </div>

          <div class="deposit__wrapper-content_item prom box-center">
            <p class="deposit__wrapper-content_item-text t:600">
              Пром. территории <br />
              и цеха
            </p>
          </div>
        </div>
      </div>
      <img
        class="deposit__wrapper-img item m:hide m:show@lg"
        src="images/deposit/home_cash.jpg"
        alt=""
      />
    </div>
  </div>
</section>
