<section id="feedback" class="feedback">
  <div class="container">
    <h2 class="feedback__title title title--size-md">Отзывы о нашей работе</h2>
    <div class="feedback-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Артем <br />
            Запольский
          </h4>
          <p class="swiper-slide-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni
            neque, omnis vitae fuga nisi distinctio voluptatibus atque
            voluptates reiciendis, animi soluta iure quisquam porro. Saepe
            dolorum voluptas qui odio iure delectus corporis suscipit nemo,
            natus nisi molestias dignissimos molestiae, inventore quos amet,
            tenetur vel ipsum reiciendis adipisci animi eaque.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Артем <br />
            Запольский
          </h4>
          <p class="swiper-slide-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni
            neque, omnis vitae fuga nisi distinctio voluptatibus atque
            voluptates reiciendis, animi soluta iure quisquam porro. Saepe
            dolorum voluptas qui odio iure delectus corporis suscipit nemo,
            natus nisi molestias dignissimos molestiae, inventore quos amet,
            tenetur vel ipsum reiciendis adipisci animi eaque.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Артем <br />
            Запольский
          </h4>
          <p class="swiper-slide-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni
            neque, omnis vitae fuga nisi distinctio voluptatibus atque
            voluptates reiciendis, animi soluta iure quisquam porro. Saepe
            dolorum voluptas qui odio iure delectus corporis suscipit nemo,
            natus nisi molestias dignissimos molestiae, inventore quos amet,
            tenetur vel ipsum reiciendis adipisci animi eaque.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Артем <br />
            Запольский
          </h4>
          <p class="swiper-slide-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni
            neque, omnis vitae fuga nisi distinctio voluptatibus atque
            voluptates reiciendis, animi soluta iure quisquam porro. Saepe
            dolorum voluptas qui odio iure delectus corporis suscipit nemo,
            natus nisi molestias dignissimos molestiae, inventore quos amet,
            tenetur vel ipsum reiciendis adipisci animi eaque.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Артем <br />
            Запольский
          </h4>
          <p class="swiper-slide-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni
            neque, omnis vitae fuga nisi distinctio voluptatibus atque
            voluptates reiciendis, animi soluta iure quisquam porro. Saepe
            dolorum voluptas qui odio iure delectus corporis suscipit nemo,
            natus nisi molestias dignissimos molestiae, inventore quos amet,
            tenetur vel ipsum reiciendis adipisci animi eaque.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Артем <br />
            Запольский
          </h4>
          <p class="swiper-slide-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni
            neque, omnis vitae fuga nisi distinctio voluptatibus atque
            voluptates reiciendis, animi soluta iure quisquam porro. Saepe
            dolorum voluptas qui odio iure delectus corporis suscipit nemo,
            natus nisi molestias dignissimos molestiae, inventore quos amet,
            tenetur vel ipsum reiciendis adipisci animi eaque.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <button data-role="prev" class="swiper-button swiper-button-prev">
      <svg class="icon">
        <use xlink:href="svg-sprite/sprite.svg#arr_right"></use>
      </svg>
    </button>
    <button data-role="next" class="swiper-button swiper-button-next">
      <svg class="icon">
        <use xlink:href="svg-sprite/sprite.svg#arr_right"></use>
      </svg>
    </button>
  </div>
  <div class="insert"></div>
</section>
