<section id="feedback" class="feedback">
  <div class="container">
    <h2 class="feedback__title title title--size-md">Отзывы о нашей работе</h2>
    <div class="feedback-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Надежда <br />
            Сергеевна
          </h4>
          <p class="swiper-slide-text">
            Качество обслуживания на высшем уровне, очень нам помогли, так как
            были некоторые проблемы. Вежливое общение и доводят свое дело до
            конца.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Сергей <br />
            Петрович
          </h4>
          <p class="swiper-slide-text">
            Хочу выразить большую благодарность компании за проделанную работу в
            моей сложной ситуации по залогу под недвижимость! Оперативно решали
            текущие вопросы, всегда находились со мной на связи! Огромное
            человеческое спасибо!
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">Владимир</h4>
          <p class="swiper-slide-text">
            Срочно нужны были деньги для закрытия кассового разрыва. Быстро и
            грамотно помогли подобрать получить деньги с невысокой процентной
            под залог недвижимости. Все время были на связи, подъехал в офис
            только на подписание.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Софья <br />
            Олеговна
          </h4>
          <p class="swiper-slide-text">
            Обратились за за деньгами под залог недвижимости, вопрос был решен в
            сжатые сроки, особенно понравилась вежливость, пунктуальность и
            внимание ко мне что очень важно для клиента. Очень довольна
            проделанной работой, огромное спасибо Вам
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">
            Евгений <br />
            Викторович
          </h4>
          <p class="swiper-slide-text">
            Всё отлично и оперативно. Большое спасибо менеджеру Максиму знаток
            своего дела, все очень понятно и доходчиво объясняет. Документы
            подписали и получили деньги в оговоренные сроки. Большое спасибо.
          </p>
        </div>
        <div class="swiper-slide">
          <h4 class="swiper-slide-title">Сергей</h4>
          <p class="swiper-slide-text">
            Компания Финансовые Технологии, помогла мне получить необходимую
            сумму денег под залог моей недвижимости. До этого все мои попытки
            взять кредит в разных банках -провались, везде отказ.В сжатые сроки
            подобрали мне займ, в течении дня получил нужные средства, ничего
            лишнего не пришлось делать.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <button data-role="prev" class="swiper-button swiper-button-prev">
      <svg class="icon">
        <use xlink:href="svg-sprite/sprite.svg#arr_right"></use>
      </svg>
    </button>
    <button data-role="next" class="swiper-button swiper-button-next">
      <svg class="icon">
        <use xlink:href="svg-sprite/sprite.svg#arr_right"></use>
      </svg>
    </button>
  </div>
  <div class="insert"></div>
</section>
