<section id="halping" class="halping">
  <div class="container">
    <h2 class="halping__title title title--size-md">
      Как мы помогаем получить заем
    </h2>
    <div class="halping__steps">
      <div class="halping__steps-item">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_1.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          <span>Оставьте заявку</span> или позвоните к нам в офис
          <a href="tel:83432890451">8 343 289 04 51 </a>
        </p>
      </div>
      <div class="halping__steps-item">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_2.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          Вам пришлют <span>предварительное уведомление</span>
        </p>
      </div>
      <div class="halping__steps-item">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_4.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          Получение необходимой вам денежной суммы<span>денежной суммы</span>
        </p>
      </div>
      <div class="halping__steps-item">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_3.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          Вы получите <span>положительное решение</span>
        </p>
      </div>
    </div>
  </div>
</section>
