<section id="halping" class="halping">
  <div class="container">
    <h2 class="halping__title title title--size-md">
      Как мы помогаем получить заем
    </h2>
    <div class="halping__steps box-center-x">
      <div class="halping__steps-item box-center-y">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_1.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          <span class="t:700">Оставьте заявку</span> или позвоните к нам в офис
          <a class="item" href="tel:83432890451">8 343 289 04 51 </a>
        </p>
      </div>
      <div class="halping__steps-item box-center-y">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_2.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          Вам пришлют <span class="t:700">предварительное уведомление</span>
        </p>
      </div>
      <div class="halping__steps-item box-center-y">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_3.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          Вы получите <span class="t:700">положительное решение</span>
        </p>
      </div>

      <div class="halping__steps-item box-center-y">
        <img
          class="halping__steps-item-img"
          src="images/halping/step_4.png"
          alt=""
        />
        <p class="halping__steps-item-text">
          Получение необходимой вам <span class="t:700">денежной суммы</span>
        </p>
      </div>
    </div>
  </div>
</section>
