<section id="intro" class="intro">
  <div class="container">
    <h2 class="intro__title title title--size-lg">
      Займы под залог недвижимости
    </h2>
    <p class="intro__text">Помогаем получить деньги на любые цели</p>
  </div>
  @@include("../custom/form.html",{})
  <div class="intro__features grid">
    <div class="intro__features-item col-4@lg">
      <img
        class="intro__features-item_img"
        src="images/intro/feature_1.svg"
        alt=""
      />
      <p class="intro__features-item_text">
        Работаем с <span>любой кредитной историей</span>
      </p>
    </div>
    <div class="intro__features-item col-4@lg">
      <img
        class="intro__features-item_img"
        src="images/intro/feature_2.svg"
        alt=""
      />
      <p class="intro__features-item_text">
        Расмотрение заявки в течение <span>1 часа</span>
      </p>
    </div>
    <div class="intro__features-item col-4@lg">
      <img
        class="intro__features-item_img"
        src="images/intro/feature_3.svg"
        alt=""
      />
      <p class="intro__features-item_text">
        Работаем с <span>любой кредитной историей</span>
      </p>
    </div>
  </div>
</section>
