<section id="intro" class="intro">
  <div class="container">
    <h2 class="intro__title title title--size-lg">
      Займы под залог <br />
      недвижимости
    </h2>
    <p class="intro__text text--size-lg t:500">
      Помогаем получить деньги <br />
      на любые цели
    </p>
    @@include("../custom/form.html",{})
    <div class="intro__features grid g:gap-x-35">
      <div
        class="intro__features-item col-8@md g:cs-3@md col-3@lg g:cs-1@lg box-center"
      >
        <img
          class="intro__features-item_img"
          src="images/intro/feature_1.svg"
          alt=""
        />
        <p class="intro__features-item_text">
          Работаем с <span class="t:700">любой кредитной историей</span>
        </p>
      </div>
      <div
        class="intro__features-item col-8@md g:cs-3@md col-3@lg g:cs-4@lg box-center"
      >
        <img
          class="intro__features-item_img"
          src="images/intro/feature_2.svg"
          alt=""
        />
        <p class="intro__features-item_text">
          Расмотрение заявки <br />
          в течение <span class="t:700">1 часа</span>
        </p>
      </div>
      <div
        class="intro__features-item col-8@md g:cs-3@md col-3@lg g:cs-7@lg box-center"
      >
        <img
          class="intro__features-item_img"
          src="images/intro/feature_3.svg"
          alt=""
        />
        <p class="intro__features-item_text">
          Выдача денег <br />
          <span class="t:700"> всего за 1 день</span>
        </p>
      </div>
    </div>
  </div>
</section>
